.advantages-no-pics {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
}

.advantages-no-pics__item--grey {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 0;

  background-color: #eeeeee;
}

@media (min-width: 768px) {
  .advantages-no-pics {
    display: flex;
  }
}
