.advantages-bonus {
  padding-left: 0;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;

  list-style: none;
}

.advantages-bonus__item {
  display: flex;
  margin-bottom: 20px;

  text-align: left;
}

.adnavtages-bonus__item-title {
  font-size: 18px;
  line-height: 26px;
}

.advantages-bonus__svg {
  height: 40px;
  margin-right: 27px;

  fill: #81b3d2;
}

@media (min-width: 768px) {
  .advantages-bonus {
    display: flex;
  }
}
