.advantages-bonus {
  padding-left: 0;
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 22px;

  list-style: none;
}

.advantages-bonus__item {
  display: flex;

  text-align: left;
}

.advantages-bonus__item-text {
  margin-left: 10px;
}

.adnavtages-bonus__item-title {
  font-size: 18px;
  line-height: 26px;
}

.advantages-bonus__svg {
  height: 40px;

  fill: #81b3d2;
}

.advantages-bonus__svg--food {
  height: 51px;
}

@media (max-width: 1199px) {
  .advantages-bonus__br {
    display: none;
  }
}

@media (min-width: 768px) {
  .advantages-bonus {
    display: flex;
    justify-content: space-between;

    margin-top: 57px;
    margin-bottom: 49px;
    margin-right: 0;
    margin-left: 0;
  }

  .advantages-bonus__item {
    flex-direction: column;
    width: 33.33%;

    text-align: center;
  }

  .advantages-bonus__item-title {
    margin-top: 28px;

    font-size: 21px;
  }

  .advantages-bonus__item-desc {
    width: 162px;
    margin-top: 24px;
  }

  .advantages-bonus__item-text {
    margin-left: 50px;
    margin-right: 43px;
  }

  .advantages-bonus__svg {
    margin: 0 auto;
    height: 76px;
  }

  .advantages-bonus__item--gift {
    order: 1;
  }
}

@media (min-width: 1200px) {
  .advantages-bonus {
    width: 1200px;
    justify-content: space-around;
    margin-bottom: 67px;
  }

  .advantages-bonus__br {
    display: initial;
  }
}
