.album {
  padding-left: 0;
  padding-bottom: 0;

  &__item {
    padding-top: 23px;
    padding-bottom: 25px;

    border-top: 2px solid #e5e5e5;

    list-style: none;
  }

  &__author {
    text-transform: none;
  }
}
