.developer {
  display: flex;
  justify-content: center;
}

.developer__link {
  display: block;
  width: 27px;
  height: 34px;

  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
