.input-general {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 11px;

  width: 280px;
}

.input-general--personal {
  display: flex;
}

.input-general__item-input {
  height: 60px;
  padding: 0;
  padding-left: 22px;
  padding-right: 70px;

  font-weight: bold;
  font-size: 17px;

  background-color: #f2f2f2;
  border: none;
}

.input-general__item-label {
  margin-top: 25px;

  font-weight: 200;
}
