.main-slogan {
  background-image: url("../img/bg-back-mobile@1x.jpg"), url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
