.nav-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  &__item {
    font-weight: bold;

    background-color: #81b3d2;
    border-bottom: 3px solid #9ac2db;
  }

  &__link {
    display: block;
    padding: 21px 22px;

    color: #ffffff;
    text-decoration: none;
  }
}
