.nav-list {
  margin-bottom: 0;
  padding-left: 0;

  &__item {
    padding: 21px 122px;

    font-weight: bold;

    background-color: #81b3d2;
    border-bottom: 3px solid #9ac2db;
    list-style: none;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
  }
}
