.nav-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav-list__item--active {
  position: relative;
}

.nav-list__svg {
  position: absolute;
  top: 17px;
  right: 20px;

  fill: #ffffff;
}

.nav-list__item {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;

  background-color: #81b3d2;
  border-bottom: 1px solid #678fa8;
}

.nav-list__item:last-child {
  border: none;
}

.nav-list__link {
  display: block;
  padding: 8px 22px;

  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .nav-list {
    display: flex;
    justify-content: space-around;
  }

  .nav-list__item {
    display: flex;
    flex-wrap: wrap;

    font-size: 14px;
    background-color: #ffffff;
    border: none;
  }

  .nav-list__item--left-index {
    margin-right: -20px;
  }

  .nav-list__item--left-photo {
    margin-right: 115px;
  }

  .nav-list__item--right-academy {
    margin-left: -46px;
    margin-right: -23px;
  }

  .nav-list__link {
    color: #000000;
  }

  .nav-list__svg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .nav-list {
    justify-content: none;
  }

  .nav-list__item--left {
    margin-left: 70px;
    width: 148px;
  }

  .nav-list__item--right-form {
    width: 150px;
    margin-right: -237px;
    margin-left: auto;
  }

  .nav-list__item--right-academy {
    width: 150px;
    margin-right: 40px;
    margin-left: auto;
  }
}
