.page-main__name {
  width: 280px;
  margin-left: 25px;
  margin-top: 50px;
}

.page-main__name-index {
  margin-top: 91px;
  height: 211px;
}

.page-main__name--compact {
  width: 224px;
  margin-left: 0;
}

.page-main__title-photo {
  margin-top: 38px;
  margin-bottom: 29px;

  font-size: 18px;
}

.page-main__text {
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

  line-height: 24px;
}

@media (min-width: 768px) {
  .page-main__name-index {
    margin-top: 80px;
    height: 346px;
  }
}
