.page-main {
  margin-top: -27px;
}

.page-main__photo {
  position: relative;
}

.page-main__index {
  position: absolute;

  margin-left: -650px;
  margin-top: 25px;
}

.page-main__name {
  position: absolute;

  margin-left: -650px;
  margin-top: 170px;
}

.page-main__title-photo {
  margin-top: 38px;
  margin-bottom: 38px;

  font-size: 18px;
}

.page-main__text {
  margin-bottom: 33px;
}
