.page-footer {
  padding-top: 36px;
}

.page-footer__social {
  width: 100%;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
