.photo-card__author {
  text-transform: none;
}

.photo-card__img {
  width: 280px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.photo-card__img--one {
  background-image: url("../img/photo-sunset-mobile@1x.jpg");
}

.photo-card__img--two {
  background-image: url("../img/photo-cactus-mobile@1x.jpg");
}

.photo-card__img--three {
  background-image: url("../img/photo-roads-mobile@1x.jpg");
}

.photo-card__img--four {
  background-image: url("../img/photo-bridge-mobile@1x.jpg");
}

@media (min-width: 768px) {
  .photo-card__img {
    width: 324px;
    height: 269px;
  }

  .photo-card__img--one {
    width: 648px;
    height: 402px;

    background-image: url("../img/photo-sunset-tablet@1x.jpg");
  }

  .photo-card__img--two {
    background-image: url("../img/photo-cactus-tablet@1x.jpg");
  }

  .photo-card__img--three {
    background-image: url("../img/photo-roads-tablet@1x.jpg");
  }

  .photo-card__img--four {
    background-image: url("../img/photo-bridge-tablet@1x.jpg");
  }
}

@media (min-width: 1200px) {
  .photo-card__img {
    width: 400px;
    height: 267px;
  }

  .photo-card__img--one {
    width: 1200px;
    height: 400px;

    background-image: url("../img/photo-sunset-desktop@1x.jpg");
  }

  .photo-card__img--two {
    background-image: url("../img/photo-cactus-desktop@1x.jpg");
  }

  .photo-card__img--three {
    background-image: url("../img/photo-roads-desktop@1x.jpg");
  }

  .photo-card__img--four {
    background-image: url("../img/photo-bridge-desktop@1x.jpg");
  }
}
