.promo {
  margin-bottom: 75px;
  margin-top: 36px;
}

.promo__title {
  margin-bottom: 27px;

  font-size: 18px;
  line-height: 26px;
}

.promo__text {
  width: 274px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  line-height: 24px;
}

@media (min-width: 768px) {
  .promo {
    margin-top: 69px;
    margin-bottom: 82px;
  }

  .promo__title {
    font-size: 30px;
  }

  .promo__text {
    width: 438px;
    margin-bottom: 74px;
  }
}

@media (min-width: 1200px) {
  .promo__title {
    margin-bottom: 33px;
  }

  .promo__text {
    margin-bottom: 70px;
  }
}
