.reviews {
  margin-top: 38px;

  font-weight: bold;
}

.reviews__title {
  display: block;
  margin-top: 22px;
  margin-bottom: 25px;

  font-size: 18px;
}

.reviews__text {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 17px;

  font-weight: normal;
  line-height: 24px;
}

.reviews__text,
.reviews__radio {
  border-bottom: 2px solid #f2f2f2;
}

.reviews__contact-info {
  margin-top: 22px;
}

@media (min-width: 768px) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews__title {
    order: 1;

    width: 100%;
  }

  .reviews__text {
    order: 2;

    width: 100%;
  }

  .reviews__radio {
    order: 3;

    width: 50%;
  }

  .reviews__personal-info {
    order: 4;

    width: 50%;
  }

  .reviews__contact-info {
    order: 5;

    width: 100%;
  }

  .reviews__showplaces {
    order: 6;

    width: 100%;
  }

  .reviews__textarea {
    order: 7;

    width: 100%;
  }

  .reviews__write {
    order: 8;
  }
}
