.reviews-info {
  padding-bottom: 18px;

  border-bottom: 2px solid #f2f2f2;
}

.reviews-info__section {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .reviews-info__item-input {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .reviews-info__section {
    display: flex;
    justify-content: space-between;
  }

  .reviews-info__item {
    display: flex;
  }

  .reviews-info__item-input {
    width: 320px;
  }
}
