.reviews {
  margin-top: 38px;

  font-weight: bold;
}

.reviews__title {
  display: block;
  margin-bottom: 28px;

  font-size: 18px;
}

.reviews__text {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 17px;
  line-height: 24px;
}

.reviews__text,
.reviews__radio {
  border-bottom: 2px solid #f2f2f2;
}

.reviews__contact-info {
  margin-top: 22px;
}
