.social__title {
  font-size: 21px;
  line-height: 26px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 48px;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
  fill: #ffffff;
}

@media (min-width: 768px) {
  .social {
    display: flex;
  }

  .social__title {
    font-size: 20px;
  }
}
