.social {
  &__link {
    display: block;
    width: 47px;
    height: 48px;

    background-color: #81b3d2;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__link--twitter {
    background-image: url('../img/icon-twitter.svg');
  }

  &__link--facebook {
    background-image: url('../img/icon-facebook.svg');
  }

  &__link--youtube {
    background-image: url('../img/icon-youtube.svg');
  }
}
