.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.social-list__item {
  margin: 0;
  margin-left: 5px;
  margin-top: 36px;
}

.social-list__item:first-child {
  margin-left: 0;
}

.social-list__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 48px;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
  fill: #ffffff;
}

.social-list__item-link:hover {
  background-color: #669ec0;
}

.social-list__item-link:active {
  background-color: #5496bd;
  color: #88b6d1;
}

@media (min-width: 768px) {
  .social-list__item {
    margin-top: 0;
  }
}
