.social-list__item {
  list-style: none;
}

.social__link--twitter {
  background-color: #81b3d2;
  background-image: url('../img/icon-twitter.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__link--facebook {
  background-color: #81b3d2;
  background-image: url('../img/icon-facebook.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__link--youtube {
  background-color: #81b3d2;
  background-image: url('../img/icon-youtube.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}
