@import "variables.less";
@import "container.less";
@import "page-header.less";
@import "header-nav.less";
@import "nav-list.less";
@import "page-main.less";
@import "main-slogan.less";
@import "sedona-reasons.less";
@import "advantages.less";
@import "advantages-pics.less";
@import "advantages-bonus.less";
@import "advantages-no-pics.less";
@import "booking.less";
@import "booking-hotel.less";
@import "album.less";
@import "photo-card.less";
@import "promo.less";
@import "promo-block.less";
@import "promo-icons.less";
@import "video.less";
@import "reviews.less";
@import "reviews-info.less";
@import "reviews-impression.less";
@import "showplaces.less";
@import "showplaces-list.less";
@import "feedback.less";
@import "visually-hidden.less";
@import "button.less";
@import "input-general.less";
@import "checkbox-general.less";
@import "page-footer.less";
@import "social-list.less";
@import "developer.less";

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Helvetica", serif;
  font-size: 14px;
  color: #000000;

  background-color: #f2f2f2;

  letter-spacing: 0;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
  box-sizing: border-box;
}
